{% layout "layout.liquid" %} {% block content %}

<div>
  <form action="/lists" method="post">
    <fieldset>
      <legend>
        <h2>Create a New Bucket List</h2>
      </legend>
      <label for="inputTitle5" class="form-label">
        <h4>Title (required)</h4>
        <input
          type="text"
          name="title"
          placeholder="enter title"
          id="inputTitle5"
          class="form-control"
          aria-describedby="titleHelpBlock"
        />
      </label>
      <label for="inputType5" class="form-label">
        <h4>Type (required)</h4>
        <input
          type="text"
          name="type"
          placeholder="enter type of bucket list"
          id="inputType5"
          class="form-control"
          aria-describedby="typeHelpBlock"
        />
      </label>
      <label for="inputLocation5" class="form-label">
        <h4>Location</h4>
        <input
          type="text"
          name="location"
          placeholder="enter location"
          id="inputLocation5"
          class="form-control"
          aria-describedby="locationHelpBlock"
        />
      </label>
      <label for="inputDescritpion5" class="form-label">
        <h4>Description</h4>
        <input
          type="text"
          name="description"
          placeholder="enter description"
          id="inputDescription5"
          class="form-control"
          aria-describedby="descriptionHelpBlock"
        />
      </label>
      <br />
      <label for="inputCheck5" class="form-label"
        ><h5>Check if complete</h5>
        <input class="form-check-input mt-0" type="checkbox" name="check" />
      </label>
    </fieldset>
    <input type="submit" value="CREATE NEW LIST" class="btn btn-success" />
  </form>
</div>

{% endblock %}
