{% layout "layout.liquid" %} {% block content %}
<div>
  <div class="slogan">
    <h4>Helping YOU, keep track of your bucket list.</h4>
  </div>
  <div>
    <a href="/user/signup"
      ><button type="submit" class="btn btn-outline-dark">Signup</button></a
    >
    <a href="/user/login"
      ><button type="submit" class="btn btn-outline-dark">Login</button></a
    >
  </div>
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://pixabay.com/get/g66124ab210377edb4ec422fa045a8993f0396b3176ed9acc8fd34434b8d8ab9a66db4b2b81c5f9a07a5556365d85fe0470734e6dc5c2fe76cbe965f83bea9a440d0ea4185ce4d83790f21c7fc5377413_1280.jpg"
          class="d-block w-100"
          alt="image1"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://pixabay.com/get/g5c105cdc60af871c02b67e122ce8c6ec317e2492a2e0d8086ee70fa207bc8dbc899327ea86902a8457b3725e8894a067bdadde1b774fc5e7fd0ea2ad36325b9a8e912df49ee97e0fc5da94155e4eeb33_1280.jpg"
          class="d-block w-100"
          alt="image2"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://pixabay.com/get/g214c6dbceaf3cfc26600beaf107f413cda3a1f648e23bad7fe17871cf48b07e2728119bc125e08514dbfc99527a537007e130b5f51413b984069f7d39c74c412b679c014f3b4d352afeac9ee56d68d98_1280.jpg"
          class="d-block w-100"
          alt="image3"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock %}
